html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-style: inherit;
  font-weight: inherit;
}
body {
    background-color: #fff;
    color: #333;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
a{
  text-decoration:none;
}
a{
  color: #333;
}
h1,h2,h3{
  line-height: 32px;
  font-family: 'Open Sans', sans-serif;
}
input[type="search"]{
  min-width: 228px;
  color: #666;
  padding: 10px;
  height: 40px;
  font-family: 'Merriweather', serif;
  border: 1px solid #ccc;
  float: left;
}
input[type="submit"]{
  display: block;
  width: 30%;
  font-size: 14px;
  height: 40px;
  padding: 0;
  text-align: center;
  background: #2c3e50;
  box-shadow: none;
  border: none;
  color: #fff;
  border-radius: 0;

}
input[type="text"]{
  min-width: 228px;
}
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  border:1px solid #CCCCCC;
}
#grid{
  display:grid;
  grid-row-gap:30px;
  grid-template-areas:
      "h h "
      "c c"
      "f f";
}
header{
  background-color: #2C3E50;
  grid-area:h;
  border:1px solid black;
  display:grid;
  grid-template-rows:87px;
  align-items:center;
  justify-items:center;
}

header .podheader{
  display:grid;
  max-width:980px;
  height:57px;
  grid-template-columns:minmax(200px, 680px) minmax(120px, 300px);
  align-items:center;
}
header .podheader div:nth-child(2){
  justify-self:end;
  margin-bottom:20px;
}
header .podheader div:nth-child(2) a{
  font-family: inherit;
  color: white;
  font-size: 100%;
  text-transform: uppercase;
  padding: 11px 21px 11px 21px;
}
header a{
  text-decoration:none;
}
header h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  color: white;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1;
  margin:0;
  clear: both;
}
header a:hover{
  background-color:#60707f;
}
header p{
  font-family: 'Open Sans', sans-serif;     
  color: white;
  line-height: 1;
  margin-top:7px;
  font-weight: normal;
}
.content{
  grid-area:c;
  display:grid;
  align-items:center;
  justify-items:center;
}
.podcontent{
  max-width:980px;
  display:grid;
  grid-template-columns:minmax(200px, 680px) minmax(120px, 300px);/*media*/
  grid-column-gap:40px;/*media*/
}
/*content*/
article{
  display:grid;
  grid-template-rows:repeat(minmax(200px,auto));
  grid-row-gap:20px;
}
article h1{
  font-size: 28px;
  padding:0;
  margin:0;
  word-wrap: break-word;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  text-decoration:none;
}
article img{
  height: auto;
  max-width: 100%;
  float:left;
  width: 200px;
  margin-right: 30px;
  padding-top:9px;
  position: relative;
  margin-bottom: 20px;
}
article p{
  margin:10px;
  padding:0;
  font-size:13px;
  padding-bottom: 9px;
}
.block{
  border-bottom:2px solid #f5f5f5;
  padding-bottom: 20px;
}
.prev{
  float:right;
}
.boton a{
  padding:8px 10px 8px 10px;
  background: #2c3e50;
  color: #fff;
  font-size: 14px;
}
/*sidebar*/
.search-form{
  width: 100%;
  max-width: 300px;
  margin-bottom:28px;
  line-height: normal;
}
label{
  float: left;
  width: 70%;
}
input{
  vertical-align: baseline;
}
aside h1{
  font-size:13px;
  padding:0;
  margin:0;
  line-height: 26px;
}

aside input{
  margin-bottom:28px;
}
.sidebar-title{
  font-size: 18px;
  color: #333333;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 2px solid #f5f5f5;
  padding: 0;
  margin: 0 0 10px 0;
}
.widget ul{
  margin: 0 0 20px 0;
  padding-left:23px;
  list-style: none;
}
.widget li{
  padding: 0 0 9px 3px;
  list-style-type: circle;
}
/*footer*/
footer{
  grid-area:f;
  height:91px;
}

footer div:nth-child(1){
  background-color:#F5F5F5;
  height:60px;
}
footer div:nth-child(2){
  background-color:#2C3E50;
  height:31px;
}
/*contacty*/
.contacty input[type="text"]{
  padding: 8px 8px;
  width: 100%;
  max-width: 628px;
  border:1px solid #CCCCCC;
  margin-bottom:28px;
}
textarea{
  overflow: auto;
  padding-left: 3px;
  vertical-align: top;
  width: 100%;
  margin-bottom:28px;
  height:150px;
}

.comment-form-box input[type="text"]{
  padding: 8px 8px;
  width: 100%;
  max-width: 430px;
  border:1px solid #CCCCCC;
  margin:0;
  
}
.comment-form-box textarea{
  margin:0;
}
.star{
  color:red;
}
.strim{
  max-width:620px;
  width: 100%;
}
@media screen and (max-width: 500px) {
.podcontent{
  max-width:500px;
  grid-template-columns:none;
  grid-template-areas: 
  'search'
  'content';
  grid-column-gap:40px;/*media*/
}
article{
  grid-area:content;
}
aside{
  grid-area:search;
}

header .podheader{
  max-width:500px;
  height:auto;
}
header .podheader div:nth-child(2){
  justify-self: end;
  margin-bottom:0px;
}
header .podheader div:nth-child(2) a{
  font-size: 90%;
  padding: 11px 0px 11px 0px;
}
}
/*span*/
.code{
  border:1px solid gray;
  margin:0;
  padding:0px;
}
code{
  margin:0;
  padding:0px;
}
.divspan{
  color:#A5216A;
}
.spanid{
  color:#82AB32;
}
.colorid{
  color:#3993BA;
}
.childspan{
  color:#FFA94D;
}
.black{
  text-align:center;
}
