body{
  max-width:1080px;
  margin:0 auto;
}
.gridform p{
  padding:5px;
  margin:0;
  
}
form .login{
  padding-top:10%;
}
.login input[type="submit"]{
  margin-top:20px;
}
.gridform input,textarea{
  border: 1px solid #d6b3c6;
  border-radius: 10px 10px;
}
.gridform{
  display:grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows:600px;
  
}
.gridform div:nth-child(1){
  border:1px solid #a56386;
  border-radius: 10px 10px;
  background-color:#e293bd;
}
.gridform div:nth-child(2){
  border-top:1px solid #d6b3c6;
  border-bottom:1px solid #d6b3c6;
  background-color:#f7c8e1;
  border-radius: 10px 10px;
}
.postform div:nth-child(2){
  border:1px solid black;
}
.forma{
  padding:10px;
  text-align:center;
}
.forma form input:nth-child(2){
  width:98%;
  padding:5px 0 5px 0;
}
.forma form textarea:nth-child(5){
  width:98%;
  height:200px;
}
.forma form textarea:nth-child(8){
  width:98%;
  height:70px;
}
.forma form p:nth-child(10){
  display:inline;
}
.forma form input:nth-child(11){
  width:34%;
  padding:5px 0 5px 0;
 
}
.forma form p:nth-child(12){
  display:inline;
  margin-right: 3px;
}
.forma form input:nth-child(13){
  width:34%;
  padding:5px 0 5px 0;
  margin-top: 12px;
}

.forma form textarea:nth-child(15){
  width:98%;
}
.forma p, h2{
  color:#93227b;
}
.forma input[type="submit"]{
  margin-top:20px;
  height:30px;
  width: 100px;
  background-color:#e293bd;
  color:#93227b;
}
.forma input[type="submit"]:hover{
  background-color:#a56b8a;
}
.leftbar ul{
  padding:0 0 0 10px;
}
.leftbar ul li{
  list-style: none;
  padding: 5px 0 5px 0;
}
a {
  text-decoration:none;
  color:#93227b;
}
