<!DOCTYPE html> 
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="создание web сайта с нуля, база данных mysql, php, js,jQuery, wordpress, bootstrap">
    <link href="style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:600" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans" rel="stylesheet"> 
    <title>FromZero.site</title>
  </head>
    <body>
      <div id="grid">
        <header>
          <div class="podheader">
            <div>
              <a href="/"><h1>FROMZERO</h1></a>
              <p>web с нуля</p>
            </div>
            <div>
                <a href="/?route=page&name=contact">КОНТАКТЫ</a>
            </div>
          </div>
        </header><!--header-->
              
        <div class="content">
          <div class="podcontent">
