
            <aside>
              <form name = "search" class="search-form" role="search" method="get">
                <label>
                  <input class="placehold" placeholder="Поиск..." value="" name = "searching" type="search">
                </label>
                <input value="Поиск" type="submit">
              </form>
              <div class="widget">
              <h2 class="sidebar-title">Свежие записи</h2>
              <ul>
                <li><a href="/?route=page&name=ystanovka_wordpress_na_pk">Установка WordPress на ПК</a></li>
                <li><a href="/?route=page&name=wordpress_first">WordPress</a></li>
                <li><a href="/?route=page&name=server_vps_na_linode">Удаленный сервер VPS на Linode</a></li>
                <li><a href="/?route=page&name=Css_grid">CSS Grid Layout</a></li>
              </ul>
              </div>
            </aside>
         
        
